.logo{
    width: 80px;
}

a:hover{
    text-shadow: 0 0 5px #6aaac9;
}

.left:hover{
    text-shadow: 0 0 5px #6aaac9;
}
.modal-content{
    background-color: transparent !important;
}

.modal-title{
    color: white;
}

.modal-header{
    border-bottom: none !important;
}

.modal-footer{
    border-top: none !important;
}
