<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">All Users</h1>
</div>
<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-light">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Age</th>
          <th>Zodiac</th>
          <th>Planet</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of allUsers">
          <td>{{ user.Name }}</td>
          <td>{{ user.Email }}</td>
          <td>{{ user.Age }}</td>
          <td>{{ user.Zodiac }}</td>
          <td>{{ user.Planet }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
