<br><br><br>
<div class="container-fluid">
  <div class="container">
    <h3 class="text-center text-white">Register</h3>
    <br>
    <div class="d-flex justify-content-center">
        <form class="w-75" [formGroup]="MyForm" (ngSubmit)="sendData()">
            <div class="mb-3 ">
              <input type="text" class="form-control" placeholder="Name" formControlName="name">
            </div>
            <div class="mb-3 ">
              <input type="email" class="form-control" placeholder="Email" formControlName="email">
            </div>
            <div class="mb-3 row">
                <div class="col text-white">Birthday</div>
                <div class="col"><input type="date" class="form-control" formControlName="birthday" #dob (change)="getAge(dob)"></div>
            </div>
            <div class="mb-3 row">
                <div class="col text-white">Age</div>
                <div class="col"><input type="text" class="form-control" placeholder="Age" formControlName="age"></div>
            </div>
            <div class="mb-3 row">
              <div class="col text-white">Gender</div>
              <div class="col">
                  <select class="form-select" aria-label="Default select example" formControlName="gender">
                  <option>Male</option>
                  <option>Female</option>
                </select></div>
          </div>
          <div class="mb-3 row">
              <div class="col"><input type="text" class="form-control" placeholder="Star" formControlName="star"></div>
              <div class="col"><input type="text" class="form-control" placeholder="Zodiac" formControlName="zodiac"></div>
              <div class="col"><input type="text" class="form-control" placeholder="Planet" formControlName="planet"></div>
          </div>
          <div class="mb-3 ">
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
          </div>
          <div class="mb-3 ">
            <input type="password" class="form-control" placeholder="Repeat Password" formControlName="confirmPassword">
          </div>
            <div>
              <button type="submit" class="btn w-100">Register</button>
            </div>
          </form>
    </div>
  </div>
</div>