<div class="container-fluid mt-2">
<div class="row">
    <div class="col-lg-3 col-xl-3 col-sm-12">
        <div class="row">
            <h3 class="text-white text-center">URL</h3>
            <div class="col-12 mb-2">
                <input type="text" placeholder="URL" class="w-75"><button class="w-25">Add</button>
            </div>
            <h3 class="text-white text-center">Commands</h3>
            <div class="col-12 bottom">
            </div>
        </div>
        <div class="col text-light">
            status<br>
            status<br>
            status
        </div>
    </div>
    <div class="col-lg-6 col-xl-6 col-sm-12"> 
        <div class="row one"></div>
        
        <div class="scroll container-fluid">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <img src="https://www.animedisney.com/logo.png" class="img-fluid rounded">
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="alert">Alerts are available for any length of text, as well as an optional close button.Alerts are available for any length of text, as well as an optional close button.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <img src="https://www.animedisney.com/logo.png" class="img-fluid rounded">
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="alert">Alerts are available for any length of text, as well as an optional close button.Alerts are available for any length of text, as well as an optional close button.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <img src="https://www.animedisney.com/logo.png" class="img-fluid rounded">
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="alert">Alerts are available for any length of text, as well as an optional close button.Alerts are available for any length of text, as well as an optional close button.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <img src="https://www.animedisney.com/logo.png" class="img-fluid rounded">
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="alert">Alerts are available for any length of text, as well as an optional close button.Alerts are available for any length of text, as well as an optional close button.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <img src="https://www.animedisney.com/logo.png" class="img-fluid rounded">
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="alert">Alerts are available for any length of text, as well as an optional close button.Alerts are available for any length of text, as well as an optional close button.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <img src="https://www.animedisney.com/logo.png" class="img-fluid rounded">
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="alert">Alerts are available for any length of text, as well as an optional close button.Alerts are available for any length of text, as well as an optional close button.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <img src="https://www.animedisney.com/logo.png" class="img-fluid rounded">
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="alert">Alerts are available for any length of text, as well as an optional close button.Alerts are available for any length of text, as well as an optional close button.</div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                </div>
            </div>
        </div>
           <div class="row message mt-2">
               <div class="col-lg-10 col-md-10 col-sm-12">
                   <textarea rows="5" placeholder="Message" class="w-100"></textarea>
               </div>
               <div class="col-lg-2 col-md-2 col-sm-12">
                   <button>Send</button><br>
                   <button>Emoji</button><br>
                   <button>Music</button>
               </div>
           </div>
    </div>
    <div class="col-lg-3 col-xl-3 col-sm-12"><h3 class="text-white text-center">People</h3>
    <div class="row right">
        <div class="col">

        </div>
    </div>
    <h3 class="text-center text-light">Owner</h3>
    <h3 class="text-center text-light">Amelia Miyazawa</h3>
    <span class="text-light">social networks</span>
    <ul class="text-center">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Discord</a></li>
    </ul>
    <span class="text-light">contribute</span><br>
    <div class="text-center"><a class="text-light" href="#">Paypal</a></div>
    </div>
</div>
</div>