<div class="container-fluid mt-2">
<div class="row">
    <div class="col-lg-3 col-xl-3 col-sm-12">
        <div class="row">
            <h3 class="text-white text-center">Commands</h3>
            <div class="col-12 bottom text-light pt-3">
                <strong>Change Name: </strong>/name newname<br>
                <strong>On Music : </strong>music on<br>
                <strong>Off Music : </strong>/music off<br>
                <strong>Clear Chat : </strong>/chat clear<br>
                <strong>Angel : </strong>/angle name<br>
            </div>
        </div>
        <div class="col text-light">
            Guest:<br>
            0<br>
            Registered<br>
            {{ countRegisterUser }}<br>
            Online<br>
            0
        </div>
    </div>
    <div class="col-lg-6 col-xl-6 col-sm-12"> 
        <div class="row one"></div>
        
        <div class="scroll container-fluid">
            <div class="row">
                <div class="col-8">
                    <div class="row" *ngFor="let _Data of _PublicChatArray">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <img src="https://www.animedisney.com/logo.png" class="img-fluid rounded"> <span class="text-white">&nbsp;{{_Data.UserName}}</span>
                        </div><br>
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="alert">{{_Data.Message}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <img src="../../../assets/Sailor_Moon_3.png">
                </div>
            </div>
        </div>
           <div class="row message mt-2">
               <div class="col-lg-10 col-md-10 col-sm-12">
                   <textarea rows="3" placeholder="Message" class="w-100"></textarea>
               </div>
               <div class="col-lg-2 col-md-2 col-sm-12">
                   <button (click)="SendMessage()">Send</button><br>
                   <button class="midButton">Emoji</button><br>
                   <button>Music</button>
               </div>
           </div>
    </div>
    <div class="col-lg-3 col-xl-3 col-sm-12"><h3 class="text-white text-center">Goddess</h3>
    <div class="row right">
        <div class="col">

        </div>
    </div>
    <h3 class="text-white text-center">Angel</h3>
    <div class="row right">
        <div class="col">
            <span class="text-light" *ngFor="let user of allUsers">{{ user.Name }}</span>
        </div>
    </div>
    <h3 class="text-white text-center">Roleplay</h3>
    <div class="row right">
        <div class="col">

        </div>
    </div>
    <h3 class="text-center text-light">Contribute</h3>
    <div class="text-center"><a class="text-light" href="#">Paypal</a></div>
    </div>
</div>
</div>